<a href="https://colab.research.google.com/github/roshniharinkhede/Dataset/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas**

In [35]:
import pandas as pd
import numpy as np

**playing with DataFrrame**

In [36]:
df= pd.DataFrame(np.arange(0,20).reshape(5,4),index=['row1','row2','row3','row4','row5'],columns=['column1','column2','column3','column4'])

In [37]:
df.head()

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [38]:
# accessing the element

In [39]:
df.loc['row1']

column1    0
column2    1
column3    2
column4    3
Name: row1, dtype: int64

In [40]:
df.iloc[:,:]

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [41]:
df.iloc[0:2,0:3]

      column1  column2  column3
row1        0        1        2
row2        4        5        6

In [42]:
df.iloc[:,3:]

      column4
row1        3
row2        7
row3       11
row4       15
row5       19

In [43]:
# convert dataframe into array

In [44]:
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [45]:
# cheak null values

In [46]:
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [47]:
df['column1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: column1, dtype: int64

In [48]:
df[['column1','column3']]

      column1  column3
row1        0        2
row2        4        6
row3        8       10
row4       12       14
row5       16       18

In [49]:
url = 'https://raw.githubusercontent.com/roshniharinkhede/Dataset/main/mercedesbenz.csv'

In [50]:
df= pd.read_csv(url)

In [51]:
df.head()

   ID       y  X0 X1  X2 X3 X4  ... X378 X379 X380  X382  X383  X384  X385
0   0  130.81   k  v  at  a  d  ...    0    0    0     0     0     0     0
1   6   88.53   k  t  av  e  d  ...    0    0    0     0     0     0     0
2   7   76.26  az  w   n  c  d  ...    0    0    0     1     0     0     0
3   9   80.62  az  t   n  f  d  ...    0    0    0     0     0     0     0
4  13   78.02  az  v   n  f  d  ...    0    0    0     0     0     0     0

[5 rows x 378 columns]

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [53]:
df.describe()

                ID            y  ...         X384         X385
count  4209.000000  4209.000000  ...  4209.000000  4209.000000
mean   4205.960798   100.669318  ...     0.000475     0.001426
std    2437.608688    12.679381  ...     0.021796     0.037734
min       0.000000    72.110000  ...     0.000000     0.000000
25%    2095.000000    90.820000  ...     0.000000     0.000000
50%    4220.000000    99.150000  ...     0.000000     0.000000
75%    6314.000000   109.010000  ...     0.000000     0.000000
max    8417.000000   265.320000  ...     1.000000     1.000000

[8 rows x 370 columns]

In [54]:
# get the unique category count
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
ai     34
m      34
e      32
ba     27
at     25
a      21
ax     19
i      18
am     18
aq     18
u      17
aw     16
l      16
ad     14
au     11
k      11
b      11
as     10
r      10
bc      6
ao      4
c       3
q       2
aa      2
g       1
ac      1
ab      1
Name: X0, dtype: int64

In [55]:
df[df['y']>100]

        ID       y  X0 X1  X2 X3 X4  ... X378 X379 X380  X382  X383  X384  X385
0        0  130.81   k  v  at  a  d  ...    0    0    0     0     0     0     0
6       24  128.76  al  r   e  f  d  ...    0    0    0     0     0     0     0
8       27  108.67   w  s  as  e  d  ...    0    0    0     0     0     0     0
9       30  126.99   j  b  aq  c  d  ...    0    0    0     0     0     0     0
10      31  102.09   h  r   r  f  d  ...    0    0    0     0     0     0     0
...    ...     ...  .. ..  .. .. ..  ...  ...  ...  ...   ...   ...   ...   ...
4202  8402  123.34  ap  l   s  c  d  ...    0    0    0     0     0     0     0
4204  8405  107.39  ak  s  as  c  d  ...    0    0    0     0     0     0     0
4205  8406  108.77   j  o   t  d  d  ...    0    0    0     0     0     0     0
4206  8412  109.22  ak  v   r  a  d  ...    0    0    0     0     0     0     0
4208  8417  110.85   z  r  ae  c  d  ...    0    0    0     0     0     0     0

[2004 rows x 378 columns]

In [56]:
df[df['y']<100]

        ID      y  X0  X1  X2 X3 X4  ... X378 X379 X380  X382  X383  X384  X385
1        6  88.53   k   t  av  e  d  ...    0    0    0     0     0     0     0
2        7  76.26  az   w   n  c  d  ...    0    0    0     1     0     0     0
3        9  80.62  az   t   n  f  d  ...    0    0    0     0     0     0     0
4       13  78.02  az   v   n  f  d  ...    0    0    0     0     0     0     0
5       18  92.93   t   b   e  c  d  ...    0    0    0     0     0     0     0
...    ...    ...  ..  ..  .. .. ..  ...  ...  ...  ...   ...   ...   ...   ...
4197  8392  89.25   z   v  ae  c  d  ...    0    0    0     0     0     0     0
4198  8393  97.09  aw   a  ak  f  d  ...    0    0    0     0     0     0     0
4199  8395  88.24   t  aa  ay  c  d  ...    0    0    0     0     0     0     0
4203  8403  85.71  aq   s  as  c  d  ...    0    0    0     0     0     0     0
4207  8415  87.48  al   r   e  f  d  ...    0    0    0     0     0     0     0

[2203 rows x 378 columns]

In [57]:
df.corr()

            ID         y       X10  X11  ...      X382      X383      X384      X385
ID    1.000000 -0.055108  0.001602  NaN  ... -0.038171 -0.009332 -0.015355  0.029059
y    -0.055108  1.000000 -0.026985  NaN  ... -0.159815  0.040291 -0.004591 -0.022280
X10   0.001602 -0.026985  1.000000  NaN  ... -0.010164 -0.004740 -0.002532 -0.004387
X11        NaN       NaN       NaN  NaN  ...       NaN       NaN       NaN       NaN
X12   0.058988  0.089792 -0.033084  NaN  ... -0.024937 -0.011628 -0.006212 -0.010765
...        ...       ...       ...  ...  ...       ...       ...       ...       ...
X380 -0.013577  0.040932 -0.010479  NaN  ... -0.007899 -0.003683 -0.001968 -0.003410
X382 -0.038171 -0.159815 -0.010164  NaN  ...  1.000000 -0.003572 -0.001908 -0.003307
X383 -0.009332  0.040291 -0.004740  NaN  ... -0.003572  1.000000 -0.000890 -0.001542
X384 -0.015355 -0.004591 -0.002532  NaN  ... -0.001908 -0.000890  1.000000 -0.000824
X385  0.029059 -0.022280 -0.004387  NaN  ... -0.003307 -0.001542 -0.000824  1.000000

[370 rows x 370 columns]

**CSV**

In [58]:
from io import StringIO,BytesIO

In [59]:
data = ('col1,col2,col3\n'
        'x,y,1\n'
        'a,b,2\n'
        '4,5,6')

In [60]:
data

'col1,col2,col3\nx,y,1\na,b,2\n4,5,6'

In [61]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    4    5     6

In [64]:
# read from specific column
df= pd.read_csv(StringIO(data),usecols=['col2','col3'])

In [65]:
df

  col2  col3
0    y     1
1    b     2
2    5     6

In [67]:
#convert dataframe to csv
df.to_csv('test.csv')

In [73]:
#specifing columns data types
data = ('a,b,c,d\n'
        '1,2,3,4\n'
        '5,6,7,8\n'
        '9,10,11\n')

In [75]:
df = pd.read_csv(StringIO(data),dtype=object)

In [76]:
df

   a   b   c    d
0  1   2   3    4
1  5   6   7    8
2  9  10  11  NaN

In [78]:
df['a'][2]

'9'

In [79]:
df['a']

0    1
1    5
2    9
Name: a, dtype: object

In [80]:
data1 = ('a,b,c,d\n'
        '1,2,3,4\n'
        '5,6,7,8\n'
        '9,10,11,12\n')

In [81]:
df = pd.read_csv(StringIO(data1),dtype=int)

In [82]:
df

   a   b   c   d
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [84]:
df['a']

0    1
1    5
2    9
Name: a, dtype: int64

In [85]:
df = pd.read_csv(StringIO(data1),dtype=float)

In [86]:
df

     a     b     c     d
0  1.0   2.0   3.0   4.0
1  5.0   6.0   7.0   8.0
2  9.0  10.0  11.0  12.0

In [89]:
df = pd.read_csv(StringIO(data1),dtype= {'b':int,'c':float,'a':'Int64'})
df

   a   b     c   d
0  1   2   3.0   4
1  5   6   7.0   8
2  9  10  11.0  12

In [90]:
# Index column
data = ('Index,a,b,c\n'
        '4,apple,bat,5.6\n'
        '5,tom,jerry,12')
data

'Index,a,b,c\n4,apple,bat,5.6\n5,tom,jerry,12'

In [91]:
df = pd.read_csv(StringIO(data))
df

   Index      a      b     c
0      4  apple    bat   5.6
1      5    tom  jerry  12.0

In [93]:
df = pd.read_csv(StringIO(data),index_col=0)
df

           a      b     c
Index
4      apple    bat   5.6
5        tom  jerry  12.0

In [100]:
data = ('a,b,c\n'
        '4,apple,bat,5.6\n'
        '5,tom,jerry,12')
data

'a,b,c\n4,apple,bat,5.6\n5,tom,jerry,12'

In [101]:
 pd.read_csv(StringIO(data),index_col=False)

   a      b      c
0  4  apple    bat
1  5    tom  jerry

In [102]:
# combining usecols and index_col
data = ('a,b,c\n'
        '4,apple,bat,5.6\n'
        '5,tom,jerry,12')

In [103]:
 pd.read_csv(StringIO(data),usecols=['b','c'],index_col=False)

       b      c
0  apple    bat
1    tom  jerry